<!-- Success Messages -->
{{#if success_msg}}
    <div>{{success_msg}}</div>
{{/if}}

<!-- Error Messages -->
{{#if error_msg}}
    <div>{{error_msg}}</div>
{{/if}}

<!-- Passport.js Errors -->
{{#if error}}
    <div>{{error}}</div>
{{/if}}
